@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root {
  --mainBlue: #40ACF1;
  --transparentBlue: rgba(64, 172, 241, 0.7);
  --mainWhite: #FFFFFF;
  --mainBlack: #292F36;
  --mainGrey: rgb(216, 214, 214);
  --mainYellow: #e3b505;
}


body {
  font-family: 'Roboto', sans-serif;
  color: var(--mainBlack);
}

.section-title-special {
  background: var(--transparentBlue);
  color: var(--mainWhite);
  padding: 0.5rem 1.5rem;
  background: dimgrey;
  opacity: 0.5;
  transform: skewX(-25deg);
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--mainWhite);
  z-index: 999;
}

.hidePreloader {
  display: none !important;
}

/* REM values to target root element 1REM = 16px */

/* ################## Navbar ############################ */

.navbar {
  background: var(--mainWhite);
}

.navbar-icon {
  font-size: 2rem;
  color: var(--mainBlue);
}

.navbar-toggler {
  outline-color: var(--mainBlue);
  border: 0.1rem solid var(--mainBlue);
}

.nav-link {
  color: dimgray;
  text-transform: capitalize;
}

.nav-link:hover {
  color: var(--mainBlue);
  text-decoration: underline;
}

.nav-icon {
  font-size: 1.5rem;
  color: dimgray;
}

.nav-icon:hover {
  color: var(--mainGrey);
}

/* ############################ Header ################################# */

.header {
  color: var(--mainWhite);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
}

.max-height {
  min-height: calc(100vh - 76px);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(/img/header-bcg.jpg)center/cover no-repeat fixed;

  animation-name: zoom;
  animation-duration: 10s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2) translateX(-5%);
  }

  100% {
    transform: scale(1);
  }
}

.title-heading {
  background: rgba(0, 0, 0, 0.4);
}

.title {
  font-weight: 700;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {

  .price,
  .title-heading {
    font-size: 1.2rem;
    color: #f00;
    text-shadow: 1px 1px var(--mainWhite);

  }
}

/* ################################## Skills ################################### */

.service-icon {
  font-size: 3rem;
  color: var(--mainYellow);
  background: var(--mainGrey);
}

.service-icon:hover {
  color: var(--mainBlue);
}

/* ################################# Inventory ################################### */

.inventory {
  background: var(--mainGrey);
}

.car-card {
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px #000;
}

.car-card:hover {
  background: #cbeaed;
}

.car-img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.car-value {
  background: var(--mainBlue);
  color: var(--mainWhite);
  border-radius: 0.5rem;
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
  transition: all 1s linear;
}

.car-value:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* ############################### Question ################################## */

.question {
  background: url(/img/grille.jpg)center/cover no-repeat fixed;
}

.question-grey {
  background: rgba(79, 109, 122, 0.33)
}

.question-yellow {
  background: rgba(227, 181, 5, 0.20)
}

.question-icon {
  font-size: 4rem;
  color: var(--mainBlue);
  transition: all 1s ease-in-out;
}

.question-icon:hover {
  transform: translateY(-10%);
  color: var(--mainBlue);
}

.question-info {
  color: var(--mainWhite);
}

.question-title {
  color: #dd2c00;
  font-size: 1.5rem;
}

/* ############################ Gallery ################################## */

.gallery {
  background: url(/img/gragstrip.jpg)center/cover no-repeat fixed;
}

.card {
  box-shadow: 2px 2px 5px #000;
}

/* #################################### Contact section ############################*/

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/contact-bcg.jpg)center/cover fixed no-repeat
}

.contact-input {
  font-size: 1.5rem;
  background: transparent;
  border-color: var(--mainYellow);
  color: var(--mainYellow) !important;
}

.contact-input::placeholder {
  color: var(--mainYellow);
}

.contact-input:focus {
  background: transparent;
  border-color: var(--mainYellow);
}

.contact-btn {
  text-transform: uppercase;
  border-color: var(--mainYellow);
  color: var(--mainYellow)
}

.contact-btn:hover {
  background: var(--mainYellow);
  color: var(--mainWhite);
}

/* ##################### Services section ################################ */

.services {
  position: relative;
  min-height: 85vh;
  max-width: 95vw;
  margin: 0 auto;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.video-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--transparentBlue);
  z-index: -2;
}

.service2 {
  background: var(--mainBlack);
  color: var(--mainWhite);
  transition: all 1s ease-in-out;
}

.service2:hover {
  background: var(--mainWhite);
  color: var(--mainBlack);
  padding-left: 3.5rem !important;
}

.services-icon {
  font-size: 4rem;
  color: var(--mainYellow);
}

/* ########################### Customers ########################## */


.customer-card-body {
  margin-top: -6rem !important;
  color: var(--mainGrey)
}

.customer-img {
  border: 0.4rem solid var(--mainGrey);
}

.customer-name {
  color: var(--mainBlue);
  margin: 0.5rem;
}

.customer-icon {
  font-size: 2rem;
  color: var(--mainGrey);
}

.customer-quote {
  max-width: 90%;
}

/* #################################### Footer ################################## */

.footer {
  background: var(--mainBlack);
}

.footer-icon {
  font-size: 2rem;
  text-decoration: none;
  color: var(--mainYellow);
  transition: all 1s linear;
}

.footer-icon:hover {
  color: var(--mainBlue);
}